# DATABASE
DATABASE_URL=""

# JWT
JWT_SECRET=""
JWT_EXPIRY="15m"
JWT_REFRESH_EXPIRY="7d"

# ENVIRONMENT
NODE_ENV=development

# API
API_PORT=3000
API_HOST=localhost

# RATE LIMITING
RATE_LIMIT_WINDOW_MS=15000
RATE_LIMIT_MAX_REQUESTS=5

# CORS
CORS_ORIGIN=""

CSRF_SECRET=""
